body {
    font-family: 'Lato', sans-serif;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'freight-display-pro,serif;';
    src: url(../font/Freight\ Disp\ Black.otf);


}



.navbar-light .menu-icon {
    background-image: url(../image/icon/icons8-hamburger-menu-50\ \(1\).png);
}

.logo a {
    color: #fff;
}

.logo {
    margin-right: 124px;
}



.heder-menu-part {
    top: 0;
    right: 0;
    width: 100%;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
   background-color: #000000b3;
}
.header-list .header-menu-list-name .header-menu-list{
    color: #fff;
   
    transition: all .3s;
    font-size: 24px;
    font-family: freight-display-pro, serif;
    font-weight: 600;
}
.header-list .header-menu-list-name .header-menu-list:hover{
    opacity: .8;
    color: #fff;
}
.home-address{
    margin-right: 22em;
    margin-top: 1em;
    width: 100%;
    text-align: right;
}
.home-address li{
    color: #fff;
   
}
.cotswolds{
padding-top: 94px;
}
.cotswolds li{
    color: #fff;
   
}
.cotswolds li a{
    color: #fff;
    
}
.header-nav-menu{
   
        display: inline-block;
        flex-direction: column;
        padding-left: 13em;
        margin-bottom: 0;
        list-style: none;
    
}

.header-part .navbar {
    position: unset;
}

.header-part {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 29px 0
}


/* 
.home-banner {
    background-image: url(../image/banner/RB50-130-scaled-e1648723186346.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 62px 0;
    position: relative;
}
 */
.home-banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);

}

.link {

    transform: rotate(90deg);
}

.link {
    margin-top: 14em;
}

.link a {
    color: #cb9e5a;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
}

.banner-text h2 {
    padding-top: 125px;
    font-size: 3em;
    color: #fff;
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
}

.right-line {
    background: #cb9e5a;
    left: 20px;
    margin: 0 auto;
    position: relative;
    width: 1px;
    display: flex;
    height: 97px;
    top: 3px;
    z-index: 999;
}

.touch_btn {
    background: transparent;
    border: 1px solid #cb9e5a;
    transition: all .5s ease;
    color: #000;
    display: inline-block;
    position: relative;
}

.touch_btn:before {
    background: #cb9e5a;
    height: 101%;
    content: "";
    position: absolute;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 0;
    left: 0;
}

.touch_btn:after {
    background: #cb9e5a;
    height: 101%;
    content: "";
    position: absolute;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 0;
    right: 0;
}

.touch_btn:hover:before {
    display: inline-block;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 51%;
    z-index: 1;
}

.touch_btn:hover:after {
    display: inline-block;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 51%;
    z-index: 1;
}

.touch_btn .get {
    position: relative;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    font: inherit;
    font-size: .8em;
    line-height: 40px;
    margin: 0;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    transition: color .2s;
}

.touch_btn .get:before {
    background: #0000;
    content: "";
    height: 18px;
    position: absolute;
    transition: all .3s ease;
    width: 18px;
    border-left: 1px solid #cb9e5a;
    border-top: 1px solid #cb9e5a;
    left: -10px;
    top: -10px;
}

.touch_btn .get:after {
    border-bottom: 1px solid #cb9e5a;
    border-right: 1px solid #cb9e5a;
    bottom: -10px;
    right: -10px;
    background: #0000;
    content: "";
    height: 18px;
    position: absolute;
    transition: all .3s ease;
    width: 18px;
}

.touch_btn:hover .get:before {
    height: 25px;
    transform: translate(3px, 3px);
    transition: .3s ease;
    width: 25px;
}

.touch_btn:hover .get:after {
    height: 25px;
    transform: translate(-3px, -3px);
    transition: .3s ease;
    width: 25px;
}

.touch_btn .get span {
    font-size: .6em;
    letter-spacing: 4.4px;
    padding: 1.2em;
    z-index: 2;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 15px;
    position: relative;
    text-transform: uppercase;
    top: 1px;
}


.banner-image {
    background-color: #0b0d1b;

}

.banner-pic img {
    width: 100%;
}

.banner-pic {
    position: relative;
}

.banner-pic::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(270deg, #0b0d1b 10%, #0b0d1b00 80%);
}

.banner-pic {

    top: 42px;
    object-fit: cover;
    width: 100%;

}



.banner-pic img {
    height: 100%;
}

.banner-pics {
    position: relative;
}

.banner-pics {
    left: 0;
    top: -27px;
    object-fit: cover;
    width: calc(100% + 4em);

}

.banner-pics::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(226.02deg, #0b0d1b00 40%, #0b0d1b);
}

.banner-pics img {
    width: 100%;
    height: 140%;
    object-fit: cover;

}

.banner-image {
    position: relative;
    padding: 7rem 0 0 0;
}

.banner-image-text {
    position: absolute;
    top: 14em;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
}

.banner-image-text h1 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 3.05em;
}

.banner-image-text p {
    font-size: .8em;
    font-weight: 400;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 51em;
    text-align: left;
}

.touch-btns {
    margin-left: 10em;
}

.uk-background-page-header-mask-bottom {
    background: linear-gradient(180deg, #0b0d1b00 25%, #0b0d1b);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.home-banner-box {
    position: relative;
}



/* luxery */
.luxary-place {
    padding: 80px 0;
}

/* .parent-luxary{
    background-image: url(../images/watermark.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 53%;
} */
.luxary-text p {
    padding-top: 14px;
    font-size: 10px;
    font-family: lato, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
    padding-bottom: 10px;
}

.luxary-text h2 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 40px;
}

.luxary {

    border: 2px solid #cb9e5a;
    color: #cb9e5a;
    border-radius: 0px;
    padding: 10px 7px;
    margin-top: 35px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 7px;
}

.luxary-place {
    position: relative;
}

.luxary-button::after {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    height: 1px;
    width: 27px;
    top: 295px;
    bottom: 0;
    left: 50%;
    right: 0;

}

.luxary-button::before {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    height: 25px;
    width: 1px;
    top: 296px;
    bottom: 0;
    left: 50%;
    right: 0;

}

.luxary::after {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    height: 1px;
    width: 27px;
    top: 354px;
    bottom: 0;
    left: 849px;
    right: 0;
}

.luxary::before {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    height: 25px;
    width: 1px;
    top: 329px;
    bottom: 0;
    right: 0;
    left: 875px;

}

.luxary-text {
    padding-top: 26px;
    padding-left: 47px;
}

.luxery-image {
    padding-top: 39px !important;
}

.touch_btns {
    background: transparent;
    border: 1px solid #cb9e5a;
    transition: all .5s ease;
    color: #000;
    display: inline-block;
    position: relative;
}

.touch_btns:before {
    background: #cb9e5a;
    height: 101%;
    content: "";
    position: absolute;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 0;
    left: 0;
}

.touch_btns:after {
    background: #cb9e5a;
    height: 101%;
    content: "";
    position: absolute;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 0;
    right: 0;
}

.touch_btns:hover:before {
    display: inline-block;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 51%;
    z-index: 1;
}

.touch_btns:hover:after {
    display: inline-block;
    transition: .6s cubic-bezier(.86, 0, .07, 1);
    width: 51%;
    z-index: 1;
}

.touch_btns .get {
    position: relative;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    font: inherit;
    font-size: .8em;
    line-height: 40px;
    margin: 0;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    transition: color .2s;
}

.touch_btns .get:before {
    background: #0000;
    content: "";
    height: 18px;
    position: absolute;
    transition: all .3s ease;
    width: 18px;
    border-left: 1px solid #cb9e5a;
    border-top: 1px solid #cb9e5a;
    left: -10px;
    top: -10px;
}

.touch_btns .get:after {
    border-bottom: 1px solid #cb9e5a;
    border-right: 1px solid #cb9e5a;
    bottom: -10px;
    right: -10px;
    background: #0000;
    content: "";
    height: 18px;
    position: absolute;
    transition: all .3s ease;
    width: 18px;
}

.touch_btns:hover .get:before {
    height: 25px;
    transform: translate(3px, 3px);
    transition: .3s ease;
    width: 25px;
    color: #fff;
}

.touch_btns:hover .get:after {
    height: 25px;
    transform: translate(-3px, -3px);
    transition: .3s ease;
    width: 25px;
}

.touch_btns:hover .get span {
    color: white !important;
}

.touch_btns .get span {
    font-size: .6em;
    letter-spacing: 4.4px;
    padding: 1.2em;
    z-index: 2;
    color: #cb9e5a;
    display: block;
    font-weight: 700;
    line-height: 15px;
    position: relative;
    text-transform: uppercase;
    top: 1px;
}




/* unforgatble */
.unforgettable-button {
    border: 2px solid #cb9e5a;
    color: #fff;
    padding: 10px 7px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 7px;
    background: transparent;
}

.unforgettable-text {
    padding-left: 47px;
}

.unforgettable-text p {
    padding: 30px 0;
    font-size: 12px;
    font-family: lato, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 21px;
}

.unforgettable h2 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;

}

.unforgettable {
    position: relative;
    background-color: #000;
    padding: 80px 0;
}

.unforgettable-button::after {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    height: 1px;
    width: 27px;
    top: 385px;
    bottom: 0;
    left: 803px;
    right: 0;
}

.unforgettable-button::before {
    position: absolute;
    content: "";
    background-color: #cb9e5a;
    width: 1px;
    height: 27px;
    top: 358px;
    bottom: 0;
    left: 829px;
    right: 0;
}



/* london */
.London {
    padding: 80px 0;
    position: relative;
}

.London h2 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 35px;
}

.London p {
    font-size: 11px;
    padding: 30px 0;
    font-family: lato, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 20px;
}

.london-button {
    border: 2px solid #cb9e5a;
    color: #cb9e5a;
    padding: 10px 7px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 7px;
}

.london img {
    width: 100%;
}

/* start */
/* .starts {
    background-image: url(../image/banner/starts-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
    text-align: center;
    position: relative;
} */

.starts h2 {
    color: #fff;
    padding: 30px 0;
    position: relative;
    z-index: 1;
}

.starts-button {
    background-color: #cb9e5a;
    border: 1px solid#fff;
    color: #fff;
    padding: 12px 16px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 7px;
}

.starts-button-box {
    position: relative;
    z-index: 1;
}

.overlay2 {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.40);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.starts-button-box::after {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 27px;
    top: -12px;
    bottom: 0;
    left: 561px;
    right: 0;
}

.starts-button-box::before {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 27px;
    width: 1px;
    top: -12px;
    bottom: 0;
    left: 561px;
    right: 0;
}

.starts-button::after {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 27px;
    top: 52px;
    bottom: 0;
    left: 707px;
    right: 0;
}

.starts-button::before {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 27px;
    width: 1px;
    top: 26px;
    bottom: 0;
    left: 733px;
    right: 0;
}

/* inspair */






/* news */
.news {
    padding: 80px 0;
    text-align: center;
    background-color: #f9f7f1;
}

.news p {
    font-size: 12px;
}

.news h2 {
    padding-bottom: 50px;
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
}

.news-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20PX !important;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    /* top: 30%; */
    left: 50%;
    z-index: 2;
    display: inline-block;
    bottom: 37px;
    transform: translateX(-50%);
    width: 100%;
}

.item {
    width: 100%;
    height: 520px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
}

/* .img {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transition: all 0.7s ease;
    background-image: url(../image/inspair/inspire-img1.jpg);
} */

.img::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(200deg, #0b0d1b00 25%, #0b0d1b);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item:hover .img {
    transform: scale(1.3) rotate(3deg);
    background-color: #888;
    background-blend-mode: multiply;
}

.item:hover .title {
    /* top: 20%; */
    transition: all 0.7s ease;
}

.item:hover .title::after {
    width: 100%;
    left: 0;
}

.description {
    display: none;
}

.item:hover .description {
    display: inline;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 2% 4%;
    color: #fff;
}

.item2 .img {
    transform: scale(1.3);
}

.item2:hover .img {
    transform: scale(1);
}

/* .img2 {
    background-image: url(../image/inspair/inspire-img2.jpg);
    background-repeat: no-repeat;
} */

/* .img3 {
    background-image: url(../image/inspair/inspire-img3.jpg);
    background-repeat: no-repeat;
} */

/* .img4 {
    background-image: url(../image/inspair/inspire-img4\ \(2\).jpg);
    background-repeat: no-repeat;
} */

.inspire h2 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    padding-bottom: 63px;
}

.ins-image {
    padding-bottom: 36px;
}



/* home-footer */
.home-footer {
    background-color: #0b0d1b;
    padding: 2em 0;
    color: #fff;
}

.footer-part h3 {
    font-size: 1.29em;
    font-weight: 700;
    font-family: freight-display-pro, serif;
}

.footer-part p {
    font-size: .6em;
}

.footer-icon a {

    margin-right: 18px;
    font-size: 28px;
    color: #fff;

}

.footer-icon a:hover {
    color: #cb9e5a;
}

.bottom-menu-part nav h6 {
    display: inline;
    margin-right: 6px;
    font-size: 12px;
}

.bottom-menu-part nav a {
    padding-right: 5px;
    color: #ffff;
    font-size: 12px;
}

.bottom-menu-part nav a:hover {
    color: #cb9e5a;
}

.footer-bottom-logo a {
    color: #fff;
}
.footer-menu ul{
    padding-left: 14em;
}
.footer-bottom {

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.footer-up {
    margin-bottom: 3em;
}

.bootom-footer {
    padding: 14px 0 61px 1px;
}

.bootom {
    margin: 13px 0;
}

.footer-menu ul li {
    padding-bottom: 0;
    margin-bottom: 9px;
    font-size: 12px;
}

.footer-menu ul li a {
    color: #fff;

}

.footer-menu article {
    font-weight: 700;
    margin-bottom: 9px;
}

.bootom-text a {
    padding-right: 2px;
    color: #fff;

}

.bootom-text nav {
    font-size: 12px;
}

/*------------ contact-page start----------------- */
.contact-banner-page {
    background-image: url(../image/contact/1030747cbfe4e44b5ad84b47e490b93c6250fd55-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.contact-banner-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);
}

.contact-text h1 {
    color: #ffff;
    font-family: freight-display-pro, serif;
    font-size: 5rem;
}

.contact-form-text h1 {
    font-family: freight-display-pro, serif;
    color: #cb9e5a;
}

/* form */
.content {
    margin-top: 2em;
}

.content h2 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: freight-display-pro, serif;
}

.content p {
    padding-bottom: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

.form-control {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn,
.form-control {
    height: 55px;
}

form.border-right {
    padding-right: 6rem !important;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.message-button {
    padding-top: 55px;
}

.message-button .btn-primary {
    color: #fff;
    background-color: #cb9e5a;
    border-color: #cb9e5a;
}

/* --------------------contact-page-end------------- */

/* -----------producer-start------------ */
.producer-banner-page {
    background-image: url(../image/producer/about-banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.producer-banner-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);

}

.producer-text h1 {
    color: #fff;
    font-family: freight-display-pro, serif;
    font-size: 5rem;
}

.director-name {
    margin-top: 41px;
    margin-bottom: 26px;
}

.director-text h3 {
    color: #cb9e5a;
    font-family: freight-display-pro, serif;
}

.director-text {
    margin-top: 28px;
    margin-left: 52px
}

.director-text p {
    line-height: 29px;
}

.director-img img {
    width: 100%;
    height: 100%;
}

.director-text-principal h3 {
    color: #cb9e5a;
    font-family: freight-display-pro, serif;
    font-size: 25px;
    line-height: 36px;
}

.director-text-principal ul li {
    list-style: disc;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 500;
}

.producer-help {
    background-image: url(../image/producer/musical-group-band-stage-bright-rays_419896-6239.avif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

.producer-help::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
}

.producer-help-text h1 {
    color: #fff;
    font-family: freight-display-pro, serif;
    position: relative;
    z-index: 999;
    padding-bottom: 1em;
}
.first-text p{
    padding-top: 33px;

} 
.first-text h3 {
    color: #cb9e5a;
    font-family: freight-display-pro, serif;
    font-size: 25px;
    line-height: 36px;
}
.director-paragraph-text{
    box-shadow: 0 2.40096px 9.60382px rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 15px 15px;
}
/* -----------producer-end------------ */

/* ---------health-start----------- */
.health-banner-page {
    background-image: url(../image/health/HBW-117-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.health-banner-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);
}

.health-text h1 {
    color: #ffff;
    font-family: freight-display-pro, serif;
    font-size: 5rem;
}

.health-bg-text {
    background-image: url(../image/health/soft-brown-watercolor-texture-design-background-vector_1055-10712.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 46px 40px;
    font-weight: 600;
}

.health-bg-text ul li {
    list-style: decimal;
    padding: 10px 0 12px 0;
}

.heath-text-box {
    border: 1px solid #fff;
    padding: 10px 10px;
    margin: 6px;
}

.heath-text-box2 {
    border: 1px solid #fff;
    padding: 10px 10px;
    margin: 5px -17px 6px -4px;
}

.heath-text-box p {
    font-size: 15px;
    text-align: justify;
}

.heath-text-box h6 {
    font-weight: 600;
}

.health-bg-text2 {
    padding-top: 20px;
}

.health-logo {
    padding-top: 44px;

}

.health-logo2 {
    padding-top: 21px;
}

.health-logo h2 {
    font-family: freight-display-pro, serif;
    color: #cb9e5a;
}

/* ---------health-end----------- */
/* account */

.account-banner-page {
    background-image: url(../image/account/HBA-189.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.account-banner-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);
}

.account-text h1 {
    color: #ffff;
    font-family: freight-display-pro, serif;
    font-size: 5rem;
}

/* account */
.acount-file {
    align-items: center;
  
    margin: 50px auto;
    max-width: 1200px;
    width: 100%;


}

.btn {
    align-items: center;
    background: color;
    border-radius: 3px;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 15px 45px;
    transition: .2s;

    &:hover {

        transform: translateY(-2px);
    }

    .fas.fa-arrow-right {
        color: white;
        font-size: 12px;
        line-height: 12px;
        margin: 0 0 0 10px;

    }
}

.register,
.login {
    border-radius: 5px;
    box-shadow: shadow;
    height: auto;
    max-width: 400px;
    padding: 40px 15px;
    text-align: center;
    width: 100%;

    .fas {
        color: color;
        font-size: 35px;
        margin-bottom: 5px;
    }

    strong {
        color: #2f2f2f;
        display: block;
        font-size: 40px;
    }

    span {
        color: #2f2f2f;
    }

    .create-account {
        border-top: 1px solid #e2e2e2;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-top: 30px;

        strong {
            font-size: 16px;
            margin-left: 5px;
            text-decoration: underline;
        }
    }
}

.register,
.login {
    background: white;

    .form {
        margin-top: 30px;
        padding: 0 20px;

        .form-row {
            position: relative;
            text-align: left;

            .fas {
                font-size: 15px;
                position: absolute;
                right: 10px;
                top: 30px
            }

            &.bottom {
                display: flex;
                justify-content: space-between;

                .forgot {
                    color: #000;
                }
            }

            &.button-login {
                margin-top: 50px;

                .fas {
                    position: static;
                }
            }

            style checkbox remenber .form-check {
                input[type=checkbox]+label {
                    color: #555;
                    cursor: pointer;
                    display: block;
                }

                input[type=checkbox] {
                    display: none;
                }

                style label input checkbox input[type=checkbox]+label:before {
                    border-radius: 3px;
                    border: 1px solid #e2e2e2;
                    color: transparent;
                    content: "\2714";
                    display: inline-block;
                    height: 15px;
                    margin-right: 5px;
                    transition: .2s;
                    vertical-align: bottom;
                    width: 15px;
                    line-height: 16px;
                    font-size: 12px;
                    text-align: center;
                }

                input active scale input[type=checkbox]+label:active:before {
                    transform: scale(1.1);
                }

                input checked input[type=checkbox]:checked+label:before {
                    background-color: color;
                    border-color: color;
                    color: white;
                }

            }
        }

        .form-label {
            color: #555;
            font-size: 12px;
        }
    }

    .form-password,
    .form-text {
        border-radius: 2px;
        border: 0;
        height: 40px;
        margin-bottom: 20px;
        padding: 0 40px 0 10px;
        width: 100%;
        background: #f1f1f1 no-repeat;
        transition: 100ms all linear 0s;


        background-image: linear-gradient(109.6deg, rgba(116, 18, 203, 1) 11.2%, rgba(230, 46, 131, 1) 91.2%);
        background-size: 0 2px, 100% 1px;
        background-position: 50% 100%, 50% 100%;

        transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

        &:focus {
            background-size: 100% 2px, 100% 1px;
            outline: none;
        }
    }
}

.register {
    transform: scale(1.01);

    background-color: #cb9e5a;

    .fas,
    strong {
        color: white;
    }

    .form {
        .form-label {
            color: white;
        }

        .form-row {
            .fas {
                color: color;
            }

            .button-login {
                margin-top: 20px;
            }
        }
    }

    .btn-login {
        background: white;
        color: #555;

        .fas.fa-arrow-right {
            color: #555;
        }

        &:hover {
            background: #d5d7de;
        }
    }

    .create-account {
        color: white;
    }

    .social-media {
        color: white;
        font-size: 20px;
        margin-top: 10px;

        .fab {
            margin: 0 3px;
        }
    }
}

/* allocation */
/* .......................banner............... */
/* .allocations-banner {
    background-image: url(../image/allocation/allocations-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 160px 0;
    position: relative;
}

.allocations-banner h1 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    color: #fff;
    padding: 20px 0;
    font-size: 5rem;
}

.uk-background {
    position: absolute;
    content: "";
    background-image: linear-gradient(200deg, #0b0d1b00 25%, #0b0d1b);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.allocations-banner h1 {
    position: relative;
    z-index: 1;
}

.allocations-banner img {
    position: relative;
    z-index: 1;
}

.allocations-banner svg,
h6 {
    position: relative;
    z-index: 1;
} */

/* ...............................allocations-aboutus.......................... */
/* .allocations-aboutus {
    padding: 80px 0;
    background-color: #000;
}

.allocations-aboutus h3 {
    color: #cb9e5a;
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    padding-top: 50px;
}

.allocations-aboutus h2 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
    color: #fff;
    padding: 20px 0;
    font-size: 40px;
}

.allocations-aboutus p {
    color: #fff;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
}

.take {
    color: #dbd9d9;
} */

/* ........................nail-guns........................... */
/* .nail-guns {
    margin: 30px 0;
    text-align: center;
}

.white-color p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
    padding-top: 140px;
}

.nail-guns h3 {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    letter-spacing: .5px;
}

.back-color p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
    padding-top: 140px;
    color: #fff;
}

.back-color {
    margin-top: 50px;
} */

/* ---alogation end */
/* .......................banner............... */
.allocations-banner{
    background-image: url(../image/allocation/allocations-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 160px 0;
    position: relative;
}

.allocations-banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, #0000 40%, #fff0);
}
.allocations-banner h1{
    font-family: freight-display-pro,serif;
    font-weight: 500;
    letter-spacing: .5px;
    color: #fff;
    padding: 20px 0;
  font-size: 5em;
}
.uk-background{
    position: absolute;
    content: "";
    background-image: linear-gradient(200deg,#0b0d1b00 25%,#0b0d1b);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.allocations-banner h1{
    position: relative;
    z-index: 1;
}
.allocations-banner img{
    position: relative;
z-index: 1;
}
.allocations-banner svg ,h6{
    position: relative;
    z-index: 1;
}
/* ...............................allocations-aboutus.......................... */
.allocations-aboutus{
    padding: 80px 0;
    background-color: #000;
}
.allocations-aboutus h3{
    color: #cb9e5a;
    font-family: freight-display-pro,serif;
    font-weight: 500;
    letter-spacing: .5px;
    padding-top: 50px;
}
.allocations-aboutus h2{
    font-family: freight-display-pro,serif;
    font-weight: 500;
    letter-spacing: .5px;
    color: #fff;
    padding: 20px 0;
    font-size: 40px;
}
.allocations-aboutus p{
    color: #fff;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
}
.take{
    color: #dbd9d9;
}
/* ........................nail-guns........................... */
.nail-guns{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 31px;
}
.nail-guns2 {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 45px;
}
 
.white-color p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
    padding-top: 2px;
}
.nail-guns2 h3{
    font-family: freight-display-pro,serif;
    font-weight: 500;
    letter-spacing: .5px;
}
.nail-guns h3{
    font-family: freight-display-pro,serif;
    font-weight: 500;
    letter-spacing: .5px;
}
.back-color{
    padding: 46px 14px;
}
 .white-color{
           padding-bottom: 54px;
           padding-top: -7px;
} 
.white-colors{
    padding-bottom: 54px;
    padding-top: 54px;
}
.alocations-para {
    padding-top: 1em;
    text-align: left;
    font-size: 15px;
}
.white-colorss{
    padding-bottom: 54px;
    padding-top: 54px; 
}
.white-colorss p{
    padding-top: 1em;
    text-align: left;
    font-size: 15px;  
}
.back-color p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
    padding-top: 7px;
    color: #fff;
}


.offcanvas-body {
    position: relative;
}
.offcanvas-body .crossdiv {
    position: absolute;
    right: 25px;
    top: 0;
    cursor: pointer;
}
.offcanvas-body .crossdiv i{
    color: #fff;
    font-size: 34px;
}


.blog_singleimg img {
	width: 100%;
}

.menu-main-menu-container li a.nav-link {color: #fff !important; transition: all .3s;
    font-size: 24px;
    font-family: freight-display-pro, serif;
    font-weight: 600;}
.offcanvas-body .navbar-nav .menu-item-222 .nav-link:hover {
    opacity: .8;
    color: #fff;
}
.offcanvas-body .menu-main-menu-container {
width: 100%;
}

.banner-image .banner-image-text p {
    text-align: left;
    margin: 0 auto;
    padding: 0 100px 25px 100px;
    text-align: center;
}
.woocommerce ul.products li.product a img {
    border: #ddd 1px solid;
    padding: 10px;
}
h2.woocommerce-loop-product__title {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 18px !important;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
    color: #b3af54;
    text-align: center;
    font-weight: bold;
}
.type-product {text-align: center;}
.add_to_cart_button {
    background: #333 !important;
    color: #fff !important;
    border-radius: 6px !important;
    padding: 15px 20px !important;
}


.offcanvas-end{

visibility:hidden;

}